<!-- education begins -->
<section id="page-education" class="page-education">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span class="editable">Education</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle quote editable">&quot; Religion, morality, and knowledge, being necessary to good government and the happiness of mankind, school and the means of education shall forever be encouraged.&quot; &mdash; The Ohio Ordinance of 1787, Article III</p>
        </header>
        <div class="row">
          {% for degree in site.data.degrees %}
            <div class="col-md-6">
                <article class="education">
                    <header>
                        <h3>{{ degree.name }}</h3>
                        <p>{{ degree.institution }} - <strong>Graduated:</strong> {{ degree.year }}</p>
                    </header>
                    <p>{{ degree.details }}</p>
                </article>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
<!-- education ends -->
