<!-- education begins -->
<section id="page-education" class="page-education">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>Education</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel. </p>
        </header>
        <div class="row">
            <div class="col-md-6">
                <article class="education">
                    <header>
                        <h3>School of the Art Institute of Chicago</h3>
                        <p>Bachelor of Fine Arts - <strong>Graduated:</strong> 2004</p>
                    </header>
                    <p>Lorem ipsum dolor sit amet, ut pri munere perfecto sadipscing, nam habeo legere disputationi ea. Vis nostrud intellegat eu, in vix erat abhorreant accommodare. Vix id elit albucius suavitate. Eos mentitum forensibus et. Vix et quidam moderatius, cu vim quem tibique constituam.</p>
                </article>
            </div>
            <div class="col-md-6">
                <article class="education">
                    <header>
                        <h3>Rhode Island School of Design</h3>
                        <p>Associates of Fine Arts - <strong>Graduated:</strong> 2002</p>
                    </header>
                    <p>Lorem ipsum dolor sit amet, ut pri munere perfecto sadipscing, nam habeo legere disputationi ea. Vis nostrud intellegat eu, in vix erat abhorreant accommodare. Vix id elit albucius suavitate. Eos mentitum forensibus et. Vix et quidam moderatius, cu vim quem tibique constituam.</p>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- education ends -->
