<!-- experience begins -->
<section id="page-experience" class="page-experience">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>Experience</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel. </p>
        </header>
        <div class="row">
            <div class="col-md-4">
                <article class="experience">
                    <header>
                        <h3>Dropbox</h3>
                        <p>Design Lead / San Francisco, CA / 2013 - Current</p>
                    </header>
                    <p>Lorem ipsum dolor sit amet, ut pri munere perfecto sadipscing, nam habeo legere disputationi ea. Vis nostrud intellegat eu, in vix erat abhorreant accommodare. Vix id elit albucius suavitate. Eos mentitum forensibus et. Vix et quidam moderatius, cu vim quem tibique constituam.</p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="experience">
                    <header>
                        <h3>Instagram</h3>
                        <p>Visual Designer / San Francisco, CA / 2010 - 2013</p>
                    </header>
                    <p>Lorem ipsum dolor sit amet, ut pri munere perfecto sadipscing, nam habeo legere disputationi ea. Vis nostrud intellegat eu, in vix erat abhorreant accommodare. Vix id elit albucius suavitate. Eos mentitum forensibus et. Vix et quidam moderatius, cu vim quem tibique constituam.</p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="experience">
                    <header>
                        <h3>Facebook</h3>
                        <p>Product Designer / San Francisco, CA / 2005 - 2010</p>
                    </header>
                    <p>Lorem ipsum dolor sit amet, ut pri munere perfecto sadipscing, nam habeo legere disputationi ea. Vis nostrud intellegat eu, in vix erat abhorreant accommodare. Vix id elit albucius suavitate. Eos mentitum forensibus et. Vix et quidam moderatius, cu vim quem tibique constituam.</p>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- experience ends -->
