<!-- experience begins -->
<section id="page-experience" class="page-experience">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title editable"><span>Experience</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle editable"></p>
        </header>
        <div class="row">
          {% for experience in site.data.experiences %}
            <div class="col-md-4">
                <article class="experience">
                    <header>
                        <h3>{{ experience.name }}</h3>
                        <p>{{ experience.title }}</p>
                        <p>{{ experience.location }} / {{ experience.time }}</p>
                    </header>
                    <p>{{ experience.details }}</p>
                </article>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
<!-- experience ends -->
