<!-- portfolio begins -->
<section id="page-portfolio" class="page-portfolio">
    <div class="container">
        <div class="row">
            <header class="section-header">
                <h2 class="section-title"><span class="editable">Papers and Research</span></h2>
                <div class="spacer"></div>
                <p class="section-subtitle quote editable">A selection of recent publications and working papers</p>
            </header>

            <div id="grid-controls-wrapper">
                <ul class="nav nav-pills center-pills grid-controls">
                    <li class="active filter"><a href="javascript:void(0)" data-filter="*">All</a>
                    </li>
                    {% for filter in site.data.publication_filters %}
                    <li class="filter">
                      <a href="javascript:void(0)" data-filter="{{filter.class}}">
                        {{ filter.name }}
                      </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
              <ul id="grid" class="grid-wrapper">
                {% for pub in site.publications reversed %}
                  <li class="mix {{ pub.categories }}">
                    <div class="panel {% if pub.journal %} panel-default {% else %} panel-info {% endif %}">
                      <div class="panel-body black">
                        <p>{{ pub.authors }}. {% if pub.year %} {{pub.year}}. {% endif %} &quot;{{ pub.name }}.&quot; <a type="button" data-toggle="modal" data-target="#publicationModal{{ pub.name | slugify }}">more</a></p>
                      </div>
                      <div class="panel-footer">
                        {% if pub.journal %}
                          {{ pub.journal }}
                        {% else %}
                          Working paper
                        {% endif %}
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
        </div>
    </div>
</section>
<!-- portfolio ends -->

{% for pub in site.publications %}
  <!-- Modal -->
  <div class="modal fade" id="publicationModal{{ pub.name | slugify }}" tabindex="-1" role="dialog" aria-labelledby="{{ pub.name | slugify }}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ pub.name }}</h4>
        </div>
        <div class="modal-body">
          <h4>Full Citation:</h4>
          <p>{{ pub.authors }}. &quot;{{ pub.name }}.&quot; {{ pub.year }}. {{ pub.journal }} {{ pub.volume}}({{pub.issue}}): {{pub.pages}}</p>

          <h4>Abstract:</h4>
          <p>{{ pub.content }}</p>

          <h4>Additional Resources:</h4>
            {% for resource in pub.additional_materials %}
              <p><a target="_blank" href="{{resource.url}}">{{resource.name}}</a></p>
            {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
