<!-- portfolio begins -->
<section id="page-portfolio" class="page-portfolio">
    <div class="container">
        <div class="row">
            <header class="section-header">
                <h2 class="section-title"><span>Papers and Research</span></h2>
                <div class="spacer"></div>
                <p class="section-subtitle">{{ site.quotes.portfolio }}</p>
            </header>

            <div id="grid-controls-wrapper">
                <ul class="nav nav-pills center-pills grid-controls">
                    <li class="active filter"><a href="javascript:void(0)" data-filter="*">All</a>
                    </li>
                    <li class="filter"><a href="javascript:void(0)" data-filter=".political-communication">Political Communication</a>
                    </li>
                    <li class="filter"><a href="javascript:void(0)" data-filter=".religion-and-politics">Religion and Politics</a>
                    </li>
                    <li class="filter"><a href="javascript:void(0)" data-filter=".election-administration">Election Administration</a>
                    </li>
                </ul>
            </div>

            <div>

              <ul id="grid" class="grid-wrapper">
                {% for pub in site.data.publications %}
                  <li class="mix {{ pub.categories }}">
                    <div class="panel panel-default">
                      <div class="panel-body black">
                        <p>{{ pub.authors }}. {{pub.year}}. "{{ pub.name }}" <a type="button" data-toggle="modal" data-target="#publicationModal{{ pub.unique-id }}">more</a></p>
                      </div>
                      <div class="panel-footer">{{ pub.journal }} {{ pub.volume}}({{pub.issue}}): {{pub.pages}}</div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
        </div>
    </div>
</section>
<!-- portfolio ends -->

{% for pub in site.data.publications %}
  <!-- Modal -->
  <div class="modal fade" id="publicationModal{{ pub.unique-id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ pub.name }}</h4>
        </div>
        <div class="modal-body">
          <h4>Full Citation:</h4>
          <p>{{ pub.authors }}. "{{ pub.name }}" {{ pub.year }}. {{ pub.journal }} {{ pub.volume}}({{pub.issue}}): {{pub.pages}}</p>

          <h4>Abstract:</h4>
          <p>{{ pub.abstract }}</p>

          <h4>Additional Resources:</h4>
          <p></p>
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
