<!-- portfolio begins -->
<section id="page-portfolio" class="page-portfolio">
    <div class="container">
        <div class="row">
            <header class="section-header">
                <h2 class="section-title"><span>Papers and Research</span></h2>
                <div class="spacer"></div>
                <p class="section-subtitle">A selection of recent publications and working papers.</p>
            </header>

            <div id="grid-controls-wrapper">
                <ul class="nav nav-pills center-pills grid-controls">
                    <li class="active filter"><a href="javascript:void(0)" data-filter="*">All</a>
                    </li>
                    <li class="filter"><a href="javascript:void(0)" data-filter=".political-communication">Political Communication</a>
                    </li>
                    <li class="filter"><a href="javascript:void(0)" data-filter=".religion-and-politics">Religion and Politics</a>
                    </li>
                    <li class="filter"><a href="javascript:void(0)" data-filter=".election-administration">Election Administration</a>
                    </li>
                </ul>
            </div>

            <div>

              <ul id="grid" class="grid-wrapper">
                {% for pub in site.data.publications %}
                  <li class="mix {{ pub.categories }}">
                    <div class="panel panel-default">
                      <div class="panel-body black">
                        {{ pub.name }}
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
        </div>
    </div>
</section>
<!-- portfolio ends -->
