<!-- profile begins -->
<section id="page-profile" class="page-profile">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title">Personal Profile</h2>
            <div class="spacer"></div>
            <p class="section-subtitle quote">If angels were to govern men, neither external nor internal controls on government would be necessary. ~ Federalist # 51</p>
        </header>
        <div class="row">
            <div class="col-md-3">
                <div class="profile"><img src="/img/profile.jpg" alt="Jake Neiheisel" />
                </div>
            </div>
            <div class="col-md-9">
                <p>I am an Assistant Professor of Political Science at the University at Buffalo, SUNY. I previously taught at Denison University.</p>
                <p>My research interests include: political behavior, election administration, parties, religion and politics, and political communication.</p>
                <p>My work has appeared in such outlets as Legislative Studies Quarterly, Political Research Quarterly, American Politics Research, Political Communication, Social Science Quarterly, and Polity.</p>
            </div>
        </div>
    </div>
</section>
<!-- profile ends -->
