<!-- profile begins -->
<section id="page-profile" class="page-profile">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title">Personal Profile</h2>
            <div class="spacer"></div>
            <p class="section-subtitle quote">{{ site.quotes.profile }}</p>
        </header>
        <div class="row">
            <div class="col-md-3">
                <div class="profile"><img src="/img/profile.jpg" alt="Jake Neiheisel" />
                </div>
            </div>
            <div class="col-md-9">
              {% for line in site.data.bio %}
                <p>
                  {{ line }}
                </p>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- profile ends -->
