<!-- teaching begins -->
<section id="page-teaching" class="page-teaching">
  <div class="container">
      <header class="section-header">
          <h2 class="section-title editable"><span>Teaching</span></h2>
          <div class="spacer"></div>
          <p class="section-subtitle quote editable">Recent course syllabi</p>
      </header>
      <div class="row">
          <div class="col-md-6">
              <article class="education">
                  <header>
                      <h3>University at Buffalo</h3>
                  </header>

                  {% for class in site.data.syllabi_at_ub %}
                    <p>
                      <a target="_blank" href="{{ class.url }}">
                        {{ class.name }}
                      </a>
                    </p>
                  {% endfor %}

              </article>
          </div>
          <div class="col-md-6">
              <article class="education">
                  <header>
                      <h3>Denison</h3>
                  </header>

                  {% for class in site.data.syllabi_at_denison %}
                    <p>
                      <a target="_blank" href="{{ class.url }}">
                        {{ class.name }}
                      </a>
                    </p>
                  {% endfor %}
              </article>
          </div>
      </div>
  </div>
</section>
<!-- teaching ends -->
