<!-- teaching begins -->
<section id="page-teaching" class="page-teaching">
    <div class="container">

        <header class="section-header">
            <h2 class="section-title"><span>Teaching</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel. </p>
        </header>
        <div class="row">
            <div class="col-md-2">
                <span class="chart" data-percent="95">
                  <span class="percent"></span>
                <h3>Photoshop</h3>
                </span>
            </div>
            <div class="col-md-2 ">
                <span class="chart" data-percent="60">
                  <span class="percent"></span>
                <h3>Illustrator</h3>
                </span>
            </div>
            <div class="col-md-2">
                <span class="chart" data-percent="75">
                  <span class="percent"></span>
                <h3>HTML</h3>
                </span>
            </div>
            <div class="col-md-2">
                <span class="chart" data-percent="80">
                  <span class="percent"></span>
                <h3>CSS</h3>
                </span>
            </div>
            <div class="col-md-2">
                <span class="chart" data-percent="65">
                  <span class="percent"></span>
                <h3>jQuery</h3>
                </span>
            </div>
            <div class="col-md-2">
                <span class="chart" data-percent="85">
                  <span class="percent"></span>
                <h3>PHP</h3>
                </span>
            </div>
        </div>
    </div>
</section>
<!-- teaching ends -->
