<!-- teaching begins -->
<section id="page-teaching" class="page-teaching">
  <div class="container">
      <header class="section-header">
          <h2 class="section-title"><span>Teaching</span></h2>
          <div class="spacer"></div>
          <p class="section-subtitle">Recent course syllabi</p>
      </header>
      <div class="row">
          <div class="col-md-6">
              <article class="education">
                  <header>
                      <h3>University at Buffalo</h3>
                  </header>

                  <p>PSC307: Political Parties</p>
                  <p>PSC101: Introduction to American Politics (Spring 2015)</p>
                  <p>PSC 101: Introduction to American Politics</p>
                  <p>PSC 505: Seminar in American Politics (Graduate)</p>
              </article>
          </div>
          <div class="col-md-6">
              <article class="education">
                  <header>
                      <h3>Denison</h3>
                  </header>

                  <p>Judicial Politics</p>
                  <p>Political Parties in the American Mold</p>
                  <p>Election Reform in America</p>
                  <p>Introduction to American Politics</p>
              </article>
          </div>
      </div>
  </div>
</section>
<!-- teaching ends -->
