<!-- welcome begins -->
<section id="page-welcome" class="page-welcome">
    <div>
        <ul class="slider-controls">
            <li>
                <a id="vegas-next" class="next" href="javascript:void(0)"></a>
            </li>
            <li>
                <a id="vegas-prev" class="prev" href="javascript:void(0)"></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <header class="centered">
                <h1>{{ site.author }}</h1>
                <p class="editable">{{ site.author_title }}</p>
            </header>
            <div class="social-icons">
                <a href="{{ site.google_scholar_url }}" target="_blank" class="btn btn-round btn-clear btn-scholar"><i class="fa fa-graduation-cap"></i></a>
                <a href="{{ site.github_url }}" target="_blank" class="btn btn-round btn-clear btn-github"><i class="fa fa-github"></i></a>
                <a href="{{ site.linkedin_url }}" target="_blank" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
            <a href="#page-contact" class="btn btn-default contact-me">Contact Me</a>
        </div>
    </div>
</section>
<!-- welcome ends -->
